<div class="jumbotron">
  <h1>MchainID demonstration</h1>
  <p class="lead">With MchainID you can sign up to any service using Blockchain Technology. It's secure, quick and easy. Please have your wallet ready !</p>
  <p><a class="btn btn-lg btn-success" href="/login" role="button">Sign me in with my Blockchain Account</a></p>
</div>
