<div class="jumbotron">
  <h2>Success !</h2>
  <h2>Welcome Ahmed Kamali!</h2>
  <p class="lead">Your Blockchain address is <%= currentUser.address %></p>
  <p>Sign in count : <%= currentUser.signinCount %></p>
  <p><a class="btn btn-lg btn-success" href="/logout" data-method="delete" role="button">Log out</a></p>
<meta http-equiv="refresh" content="15"; url=http://192.168.1.4:8080">

 
 

</div>
